.mainOccupationBox {
  border: 0px solid #1C6EA4;
  height: 50px;

}


.roomName {
  float:left;
  vertical-align: middle;
  width:200px;
  height: 30px;
  border: 0px solid red;

  padding-top: 10px;

  font-family: Panton;
  font-size: 1em;
}


.roomSign {
  float: right;
  text-align: right;
  width:30px;
  height: 30px;
  border: 0px solid blue;
  padding-top: 10px;

  font-family: Panton;
  font-size: 1em;
}


.statusBar {
  float: left;
  vertical-align: bottom;
  height: 20px;
  width: 100%;

  border: 0px solid orange;
}

.statusItem {
  float: left;
  width: 5%;
}




.free {
  color: #3cb371;
}

.occupied {
  color: #761c19;
}

.nodata {
  color: #888888;
}



.freeLine {
  border-top: 1px solid #3cb371;

}

.occupiedLine {
  border-top: 1px solid #761c19;
}

.nodataLine {
  border-top: 1px solid #888888;
}


.occupation {
  padding: 3em;
  margin: 0 auto;
  width: 500px;
}

.occupations {
  display: table;
  border-collapse: collapse;
  width: 500px;
  border-bottom: 0px solid #1C6EA4;
}


.box-head {
  border-bottom: 3px double #444444;
  font-family: Panton;
  color: #444444;
  font-size: 1em;
  padding-bottom: 10px;
  height: 10px;
}


.box-head-spacer {
  height: 50px;
}
