

.sensorsSelectionList {
  float: left;
  width: 12%;
  height:500px;
  border-right: 1px solid darkgray;
  text-align: right;
  padding-right: 20px;

}

.sensorEditor {
  margin-left: 20px;
  float: left;
  width: 70%;
  height: 400px;
  border: 0px solid red;
}

/* indicate whether a sensor is attached to a room */
.attached {

}

/* indicate whether a sensor is NOT attached to a room */
.not_attached {
  text-decoration: line-through;
}


a {
  color: #444444;
  text-decoration: none;
}

a:hover {
  color: #888888;
  text-decoration: none;
  cursor: grabbing;
}

input {
  width: 300px;
}
